@model Plataforma_Peliculas_de_Halloween.Models.Cliente

@{
    ViewBag.Title = "Details";
}
<body id="body_Detalles">
    <hr />
    <h2 id="Titulo_Detalles_C">DETALLES CLIENTE</h2>
    <hr />

    <div>

        <br />
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idCedula)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.idCedula)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ap1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ap1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ap2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ap2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

        </dl>
    </div>
    <p class="btn btn-success">
        @Html.ActionLink("Edit", "Edit", new { id = Model.idCedula })

    </p>|
    <p class="btn btn-warning">
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />